*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;

}

body{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
}

header{
    padding: 2rem ;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: rgba(0,0,0,.5);
    
}

.logo{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 2rem;
    font-weight: 700;
}




ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}

ul li a{
    text-decoration: none;
    color: white;
}

p{
    margin-bottom: 4rem;
}
h2{
    margin-bottom: 4rem;
    text-align: center;
}

.box-model{
    display: flex;
    gap: 5rem;
    
}

.box{
    border: 1px solid black;
    margin: 0 auto;
    height: 30rem;
    width: 30rem;
}
.box-1{
    background-color: green;
    height: 10rem;
    width: 10rem;
    border: 1rem solid black;
    
}


.box-2{

    text-align: center;
    background-color: red;
    height: 10rem;
    width: 10rem;
    /* padding: 10rem; */

    padding: 10rem 1rem 5rem 1rem;
   
}

p{
    text-align: center;
}

.box-3{

    background-color: orange;
    height: 10rem;
    width: 10rem;
    
    margin-bottom: 5rem;
   
}

.box-4{

    background-color: brown;
    height: 10rem;
    width: 10rem;
    margin-top: 5rem;
   
    
}


.box-5{

    background-color: pink;
    height: 10rem;
    width: 10rem;
    margin-top: -10rem;
   
    
}


